*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FF5722;
}
.btn{
    background-color: #FF5722;
    margin: 0;
    border:none;
    padding: 18px 35px;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
     }

/* .section-heading{
    max-width: 527px;
    text-align: center;
} */
.section-heading h2{
    padding-top: 130px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    margin-bottom: 30px;
}
.section-heading p {
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    
}

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat,no-repeat;
    background-position: top left,bottom right;
    padding-top: 50px;
    margin-bottom: 131px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
}


#banner {
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #454545;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 20px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about .about-content{
    width: 71%;
    max-width: 1140px; ;
    margin: 0 auto;
    
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 156px;
    border-radius: 10px;
}



#about .about-content .about-info{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}

.about-info .info-item h3{
    font-size: 20px;
    font-weight: normal;
    color: #757575;
    line-height: 30px;
}
.about-info .info-item p {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    line-height: 30px;

}

#skills .skill-contents .skill-list{
    width: 71%;
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-list .skill-card{
    padding: 30px ;
    box-shadow: 0 6px 50px 0 #00000037;
    max-width: 267px;
}

.skill-list .skill-card img{
    
    max-width: 44px;
    padding-bottom: 30px;
    
}
.skill-list .skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    line-height: 30px;
}

.skill-list .skill-card p{
    font-size: 16px;
    color: #757575;
    padding-top: 20px;
    line-height: 30px;
}